* {
    font-family:'Raleway';
}
#navbar img{
    width: 150px;
}

#navbar {
    justify-content: space-between;
}

#navbar a:hover {
    color: black;
}

header {
    border-bottom: 1px solid #ccc;
}

#search-container {
    background-image: url("../img/banner.jpg");
    background-size: cover;
    background-position: center;
    height: 500px;
    padding: 50px;
    text-align: center;
}

#search-container h1 {
    color: #ffffff;
    margin-bottom: 30px;
}

#search-container form {
    width: 50%;
    margin: 0 auto;
}

#events-container{
    padding: 50px;
}

#events-container .card{
    margin: 5px;
    padding: 0%;
    border-radius: 10px;
    width: 354px;
}

#event-create-container {
    padding: 30px;
}

#event-create-container div.form-group {
    margin-bottom: 20px;
}

#event-create-container label{
    font-weight: bold;
}

#event-create-container input,
#event-create-container select,
#event-create-container textarea {
    font-size: 12px;
}

#events-container img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

footer {
    text-align: right;
    border-top: 1px solid #ccc;
    bottom: 0;
    padding: 30px;
}

.msg {
    background-color: #dff0d8;
    color: #3c763d;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
}

#event-image-container,
#info-container {
    margin-top: 30px;
}

#event-image-container img {
    border-radius: 10px;
}

#info-container h1 {
    font-size: 36px;
    font-weight: 900;
}

#info-container p {
    font-size: 18px;
    margin: 0;
    display: flex;
}

#info-container h3,
#description-container h3 {
    font-size: 24px;
    font-weight: bold;  
}

#info-container ion-icon {
    font-size: 24px;
    color: #5871dd;
    margin-right: 5px;
}

.btn-primary {
  background-color: #F2A340;
  border: 2px solid #C28008;
}

.btn-primary:hover {
  background-color: #C28008;
  border-color: #C28008;
}
